{% extends 'layout.html.twig' %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav ">
                    <li {% if day == 'monday' %} class="active" {% endif %}><a href="/bookingController/bookSeat/{{ days[0] }}/{{ officeId }}">Monday</a></li>
                    <li {% if day == 'tuesday' %} class="active" {% endif %}><a href="/bookingController/bookSeat/{{ days[1] }}/{{ officeId }}">Tuesday</a></li>
                    <li {% if day == 'wednesday' %} class="active" {% endif %}><a href="/bookingController/bookSeat/{{ days[2] }}/{{ officeId }}">Wednesday</a></li>
                    <li {% if day == 'thursday' %} class="active" {% endif %}><a href="/bookingController/bookSeat/{{ days[3] }}/{{ officeId }}">Thursday</a></li>
                    <li {% if day == 'friday' %} class="active" {% endif %}><a href="/bookingController/bookSeat/{{ days[4] }}/{{ officeId }}">Friday</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>

    </nav>
    <h1>Office {{ officeId }} - {{ day }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Seat Number</th>
            {% for cal in calendar %}
                <th>{{ cal }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i in 1..seatNumber %}
            {% set seatNumberIndex = i-1 %}
            <tr>
                <td>
                    {% if fullyBooked[seatNumberIndex] == 'Booked' %}
                        <button class="btn btn-lg btn-danger" style="pointer-events: none;">Seat {{ i }} Fully Booked</button>
                    {% else %}
                        <a class="btn btn-lg btn-primary" href="{{ url }}/{{ i }}">Book Seat {{ i }}</a>
                    {% endif %}

                </td>
                {% for key, value in seatAvailability[seatNumberIndex] %}
                    <td> {{ value }}</td>
                {% endfor %}


            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}