{% extends 'layout.html.twig' %}

{% block content %}

{{ form(form) }}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Payroll</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>

        {% for tableResult in tableResults %}
            <tr>
                <td>{{ tableResult.getFirstName() }} </td>
                <td>{{ tableResult.getLastName() }} </td>
                <td>{{ tableResult.getPayrollNo() }} </td>
                <td>{{ tableResult.getEmail() }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



<!--<div>-->

<!--    <h1>Add Employee:</h1>-->
<!--    <form>-->
<!--        <div class="form-group">-->
<!--            <label for="firstName">First Name</label>-->
<!--            <input type="text" class="form-control" id="firstName" placeholder="First Name">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="lastName">Last Name</label>-->
<!--            <input type="text" class="form-control" id="lastName" placeholder="Last Name">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="payrollNumber">Payroll Number</label>-->
<!--            <input type="text" class="form-control" id="payrollNumber" placeholder="Email">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="emailAddress">Email address</label>-->
<!--            <input type="email" class="form-control" id="emailAddress" placeholder="Email">-->
<!--        </div>-->

<!--        -->
<!--    </form>-->
<!--</div>-->

{% endblock %}